/*Styles for main template app*/
h1{
	text-align: center;
	background-color: grey;
	color:white;
}

.phoneBook{
	margin-top:50px;
	margin-left: 32.5%;
}

.phoneBook button{
	margin-left: 15px;
	height: 30px;
	border-radius:10px;
	background: linear-gradient(to top, red, yellow);
	outline:none;
	color:white;
}

.phoneBook button:hover{
	background: linear-gradient(to top, yellow, red);
}